*{

	padding: 0;
	margin: 0;
}
body{

	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.H{

	 color: white;
	 background-color: orange;
	 text-align: center;
	 padding: 10px 20px;
	 width: 100%;
}

.menu{

	background-color: black;
	padding: 10px 20px;
	width: 100%;

}

a{

	color: white;
	text-decoration: none;
	padding: 10px ;
}
a:hover{

	background-color: red;
}

#showcase{
	
	background-image: url(../images/img.jpeg);
	background-position:center-top;
	margin-bottom: 50px;	
	text-align: center;
	background-repeat: none;
	width: 100%;
}

#showcase h1{

	font-size: 50px;
	line-height: 1.5em;
	text-align: center;
	padding: 40px;
	color: white;
	border-image-width: 100%;

	
}
#main{

	width:65%;
	box-sizing: border-box;
	float: left;
	margin-right: 20px;
}
#main h1{

	margin-bottom: 10px;
}

#sidebar{

	width:25%;
	box-sizing: border-box;
	float: right;
	border: 2px black solid;
	background-color: black;
	padding: 10px;  


}
#sidebar p{

	color: white;
	padding:20px;
	width: relative;
}


.container1{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
	margin: 40px;
	margin-bottom: 350px;

}

.container3{

	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
	margin: 40px;
	margin-bottom: 350px;

}

#last{

   background-color: black;
   padding: 20px;
   width: 100%;

}

#last p{

	  color: white;
	  text-align: center;
}

/*#footer {
    position: fixed;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}*/
 

/*@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}*/

